{% extends 'base.html' %}

{% block content %}

<h1 class="center grey-text text-darken-2">Bear Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ bear.name }}</span>
        <p>Species: {{ bear.species }}</p>
        <p>Description: {{ bear.description }}</p>
        <p>Age: {{ bear.age }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'bears_update' bear.id %}">Edit</a>
        <a href="{% url 'bears_delete' bear.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in bear.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
