{% extends 'base.html' %}

{% block content %}

<h1 class="center grey-text text-darken-2">Bear Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ bear.name }}</span>
        <p><b>Species:</b> {{ bear.species }}</p>
        <p><b>Description:</b> {{ bear.description }}</p>
        <p><b>Age:</b> {{ bear.age }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'bears_update' bear.id %}" class="light-blue-text text-darken-2">Edit</a>
        <a href="{% url 'bears_delete' bear.id %}" class="light-blue-text text-darken-2">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_feeding' bear.id %}" method="post">
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <input type="submit" class="btn light-blue darken-1" value="Add Feeding">
    </form>
    <br>
    {% if bear.fed_for_today %}
      <div class="card-panel light-blue-text text-darken-2 center-align">{{bear.name}} has been fed all meals for today</div>
    {% else %}
      <div class="card-panel red-text text-darken-1 center-align">{{bear.name}} might be hungry</div>
    {% endif %}
    <table class="striped">
      <thead>
        {% if bear.feeding_set.count > 0 %}
          <tr class="grey-text text-darken-2"><th>Date</th><th>Meal</th></tr>
        {% endif %}
      </thead>
      <tbody>
        {% for feeding in bear.feeding_set.all %}
          <tr class="feed-row">
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
            <td class="feed-delete-col">
              <form action="{% url 'delete_feeding' bear.id feeding.id %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn red darken-2 feed-delete" value="X">
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr class="grey-text text-darken-2">
<div class="row">
  <div class="col s6">
    <h3 class="grey-text text-darken-2">{{ bear.name }}'s Toys</h3>
    {% if bear.toys.count %}
      {% for toy in bear.toys.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_toy' bear.id toy.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn red darken-2">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5 class="grey-text text-darken-2">No Toys :(</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3 class="grey-text text-darken-2">Available Toys</h3>
    {% if toys.count %}
      {% for toy in toys.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_toy' bear.id toy.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5 class="grey-text text-darken-2">{{bear.name}} already has all toys available</h5>
    {% endif %}
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_meal');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}
