body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav .brand-logo.left, nav .brand-logo.right {
  padding: 0 15px;
}

nav .brand-logo {
  padding: 0 20px;
}

footer.page-footer {
  padding: 10px 0;
  text-align: right;
}

.card .card-title {
  font-weight: bold;
  color: #0277bd;
}

.card .card-content p {
  color: #424242;
}

.feed-delete-col {
  text-align: right;
}

.feed-delete {
  margin-right: 10px;
  font-weight: bold;
  opacity: 0;
  transition: 0.2s;
}

.feed-row:hover .feed-delete {
  opacity: 1;
}
